@import "../../styles/variaveis";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $azul-rodape;
  padding: 10px;

  &__images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;

    img {
      width: 30px;
    }
  }

  p {
    color: $cor-do-texto;
    font-size: 1.5rem;
    font-family: $fonte-bold;
    width: 15%;
  }
}
